/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables */
html {
  --bg-color-200:hsl(214, 25%, 11%);
  --bg-color-400:hsl(212, 19%, 16%);
  --bg-color-400-75:hsl(212, 19%, 16%, 75%);
  --bg-color-500:hsl(212, 19%, 25%);

  --text-color:hsl(215, 25%, 85%);
  --accent-color-200:hsl(22, 44%, 12%);
  --accent-color-400:hsl(22, 100%, 65%);
  --accent-color-500:hsl(22, 100%, 85%);
}

/* Selector universal */
* {
  box-sizing: border-box; /* Clave para el tamaño final de los elementos */
}

/* Estilos generales */
body {
  background-color: var(--bg-color-200); /* Color del fondo */
  color: var(--text-color); /* Color de la tipografía */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6; /* Alto del renglón */
  margin: 0;
}

/* Estilos para el main */
main h1 {
  font-weight: 300; /* El grosor de línea */
  /* font-style: italic;  Inclinación */
  text-align: center; /* Alinear el texto */
  font-size: 2.5rem; /* Tamaño del cuerpo de la tipografía */
}

/* Estilos para el header */
header {
  background-color: var(--bg-color-400);
  padding: 1rem 0;
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

/* Estilos para la navegación */
header ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Links para los links del header */
header nav a:link,
header nav a:visited {
  color: var(--text-color);
  text-decoration: none;
}

header nav a:hover,
header nav a:active {
  color: var(--accent-color-400);
}

/* Estilos para las secciones */
section {
  width: min(62rem, 100%);
  padding: 1rem;
  margin: 0 auto;
}

/* Sección de bienvenida */
#bienvenida {
  background-image: url('../img/bienvenida.jpg');
  background-size: cover;
  padding: 0;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}

#bienvenida h1 {
  background-color: var(--bg-color-400-75);
  padding: 1rem 0;
}


/* Ejemplo de clase 2 */
/* Selector de clase */
.modelo-de-caja {
  background-color: var(--bg-color-400);
  width: 250px; /* Ancho */
  height: 250px; /* Alto */
  padding: 16px; /* Margen interno */ 
  border: 8px solid var(--accent-color-400); /* Grosor Estilo Color */
  border-radius: 32px; /* Radio de las esquinas del contenedor */

  box-sizing: border-box; /* Ajuste del modelo de caja */

  margin-top: 8px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;

  margin: 64px auto 16px; /* arriba y abajo / izquierda y derecha */
}



/* Flexbox */
.contenedor-flex {
  border: 0.15rem solid var(--accent-color-500);
  height: 32rem;
  padding: 1rem;
  display: flex; /* Activa Flexbox en el contenedor */
  flex-direction: row; /* Dirección de Flex*/
  justify-content: center; /* Controla el eje principal */
  align-items: center; /* Controla el eje secundario */
  gap: 1rem; /* Distancia entre elementos */
}

.item {
  border: 0.15rem solid var(--accent-color-400);
  padding: 1rem;
  text-align: center;
  width: 7rem;
}

/* Vínculos para todo el sitio*/
/* Reposo */
/* :link */
a:link {
  color: var(--accent-color-400);
  text-decoration: none;
}

/* Visitado */
/* :visited */
a:visited {
  color: var(--accent-color-400);
}

/* Hover */
/* :hover */
a:hover {
  color: var(--accent-color-500);
}

/* Active */
/* :active */
a:active {
  color: var(--accent-color-500);
}

/* On focus */
a:focus {
  outline: 0.3rem solid var(--accent-color-400);
  outline-offset: 0.5rem;
  border-radius: 0.5rem;
}


/* Resolución del ejercicio de Novedades */

/* Como vimos en clase 2 */
img {
  width: 100%;
}

.contenedor-novedades {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contenedor-novedades article {
  width: 14rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.contenedor-novedades h2,
.contenedor-novedades h3 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.contenedor-novedades h3 {
  font-weight: 400;
}

.contenedor-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Estilos para los links de Novedades */
a.btn-outline:link, 
a.btn-outline:visited {
  font-size: 0.8rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color-400);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

a.btn-outline:hover, 
a.btn-outline:active {
  background-color: var(--bg-color-400);
}

a.btn-fill:link, 
a.btn-fill:visited {
  font-size: 0.8rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color-500);
  background-color: var(--bg-color-500);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

a.btn-fill:hover, 
a.btn-fill:active {
  background-color: var(--bg-color-400);
}

a.btn-fill:focus,
a.btn-outline:focus {
  outline: 0.3rem solid var(--accent-color-400);
  outline-offset: 0;
  border-radius: 0.5rem;
}


/* Clase 4 */

/* Footer */
/* Estilos para el footer */
footer {
  background-color: var(--bg-color-400);
  padding: 2rem;
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  width: min(62rem, 100%);
  margin: 0 auto;
}

footer nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer h1 {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

/* Clase 5 */
/* Todos los formularios */
form {
  width: min(24rem, 100%);
  margin: 0 auto 2rem;
  border: 0.15rem solid var(--accent-color-400);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}

form h2 {
  margin: 0;
}

/* Formato de tipografía para los formularios */
form input,
form select,
form textarea,
form button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6;
}

/* Campos de formulario */
form input,
form select,
form textarea,
form button {
  padding: 0.5rem 1rem;
  border: 0.3rem solid var(--bg-color-500);
  border-radius: 0.5rem;
}

form textarea {
  min-height: 12rem;
}

/* Estado on focus en los elementos */
form input:focus,
form select:focus,
form textarea:focus,
button:focus {
  outline: none;
  border: 0.3rem solid var(--accent-color-400);
}

/* Mensajes de estado */
form span {
  color: var(--accent-color-400);
  text-align: right;
}

/* Estilos para los botones de los formularios */
form button {
  background-color: var(--bg-color-500);
  font-weight: 600;
  color: var(--text-color);
  /* align-self: center;
  aspect-ratio: 1;
  border-radius: 100%; */
}

form button:hover {
  background-color: var(--accent-color-400);
  border: 0.3rem solid var(--accent-color-400);
  color: var(--bg-color-200);
  cursor: pointer;
}

/* Arreglar el foco para los campos checkbox */